:root {
    box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #0F3460;
    font-family: Arial, Helvetica, sans-serif;
}

body * + *{
    margin-top: 1.5em;
}

.container{
    max-width:1080px;
    margin: 0 auto;
}
nav{
    background-color: #16213E;
    padding-top: 1px;
}

.site-nav{
    margin-top: 0;
    display:flex;
    padding: .5em;
    list-style-type:none;
    border-radius: .2em;
}

.site-nav > li{
    margin-top:0;
}
.site-nav > strong{
    display: block;
    margin-right: 20px;
    padding: .5em 0;
    color: white;
    font-size: x-large;
}

.site-nav > li > a {
    display: block;
    margin-top: 10px;
    padding: .5em 1em;
    align-items: baseline;
    background-color: #e9445f;
    color:white;
    text-decoration: none;
}

.site-nav > li + li{
    margin-left:1.5em;
}

.site-nav > .nav-right{
    margin-left:auto;
    padding: .5em 0;
    margin-top: 10px;
}

.site-nav > .nav-right > a{
    display: inline;
}
.nav-right > a + a {
    margin-left:1.5em;
}

.leftcolumn{
    float:left;
    width:75%;
    margin-top: 0;
}

.rightcolumn{
    float:right;
    width:25%;
    padding-left: 20px;
    margin: 0;
}

.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;
  }

.card{
    background-color: #afa6a6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.top-card{
    margin-top: 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* form group */
input[type=text], input[type=password] {
    width: 50%;
    padding: 8px 15px;
    line-height: 1.5;
    margin: 5px 0 0 0 ;
    display: inline-block;
    border: #ddd;
    border-radius: 8px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.form-control-label{
    width: 200px;
    display: inline-block;
    font-weight: bold;
}

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
.login-btn{
    margin-left: 20px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
  
.alert-success {background-color: #04AA6D;}
.alert-info {background-color: #2196F3;}
.alert-warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.invaild-feedback{
    color: red;
    margin-top: 5px;
}

.profile-pic{
    display: inline-block;
    vertical-align:top; 
    border-radius: 50%; 
}

.text-file{
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}

.text-file h1, .text-file p{
    margin: 0 0 10px 0;
}
.card:after{
    content: "";
    display: table;
    clear: both;
} 

.image-size{
    width: 100px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

  /* Modal Content */
.modal-content {
    background-color: #e9445f;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}
.update,
.delete{
    margin: 0 0 5px 0;
    padding: 5px 10px;
    display: inline-block;
}

.update{
    color: #ffffff;
    background-color: #04AA6D;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #666;
}
#form-delete{
    display: inline-block;
    margin-top: 0;
}
.delete{
    color: #ffffff;
    background-color: #880000;
    
}