{% extends "layout.html" %}
{% block content %}
<div class="leftcolumn">
    <div class="card">
        <img src="{{url_for('static',filename='profile_pics/'+ current_user.image_file)}}" class="profile-pic" alt="users profile pics">
        <div class="text-file">
            <h1>{{current_user.username}}</h1>
            <p>{{current_user.email}}</p>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Update Your Account</legend>
                <div class="form-group">
                    {{form.username.label(class="form-control-label")}}
                    {% if form.username.errors %}
                        {{ form.username(class="is-invalid")}}
                        <div class="invaild-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.username(class="form-control")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.email.label(class="form-control-label")}}
                    {% if form.email.errors%}
                        {{ form.email(class="is-invalid")}}
                        <div class="invaild-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.email(class="form-control")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.picture.label(class="form-control-label")}}
                    {% if form.picture.errors%}
                        {{ form.picture(class="is-invalid")}}
                        <div class="invaild-feedback">
                            {% for error in form.picture.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.picture(class="form-control")}}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form_group">
                {{form.submit(class="registerbtn")}}
            </div>
        </form>
    </div>
</div>
{% endblock content %}