<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="static/css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    {% if title %}
    <title>Origami Website - {{title}}</title>
    {% else %}
    <title>Origami Website</title>
    {% endif %}
</head>

<body>
    {% include 'header.html'%}
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock content %}
            <div class="rightcolumn">
                <div class="card">
                    <h2>About Me</h2>
                    <div class="fakeimg" style="height: 100px">Image</div>
                    <p>
                        Some text about me in culpa qui officia deserunt mollit anim..
                    </p>
                </div>
                <div class="card">
                    <h3>Popular Post</h3>
                    <div class="fakeimg">Image</div>
                    <br />
                    <div class="fakeimg">Image</div>
                    <br />
                    <div class="fakeimg">Image</div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{(url_for('static',filename='js/script.js'))}}"></script>
</body>
</html>